/* Goodle Font */
@import url(https://fonts.google.com/share?selection.family=Righteous);
@import "menu";
@import "contacto";
@import "nosotros";
@import "registrate";

$color__crema: #fff4cc;
$color__blanco: #ffffff;
$color__amarillo: #ffbd12;
$color__naranja: #f95a2c;
$color__roca: #fff3f8;
$color__pistache: #d6fcf7;
$color__salmon: #ff9692;
$color__ultramar: #1947e6;
$color__uva: #a259fe;
$color__dark: rgba(39, 39, 39, 0.993);
$color__gray: #5e636e;
$breakpoint-tablet: 768px;

$breakpoints: (
  phone: 640px,
  tablet: 768px,
  desktop: 1024px,
  ) !default;

$phone-width: 600px;
$tablet-width: 768px;
$laptop-width: 992px;
$desktop-width: 1024px;
$imac-width: 1620px;

@mixin xm-device {
  @media (max-width: #{$phone-width - 1px}) {
    @content;
  }
}

@mixin phone {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$laptop-width - 1px}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$imac-width - 1px}) {
    @content;
  }
}

@mixin imac {
  @media (min-width: #{$imac-width}) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Righteous',
    cursive;
}

/* Pagina de Incio */
#principal {
  background-image: url(../images/inicio.png);
  background-repeat: no-repeat;
  flex-wrap: wrap;
}




.content {
  display: flex;
  margin: 80px;
  top: 27vh;
  left: 0%;
  width: 20%;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;

  h1 {
    font-family: 'Franklin Gothic Medium',
      'Arial Narrow',
      Arial,
      sans-serif;
    font-size: 100px;
    align-items: stretch;
    color: rgb(255, 255, 255
    );
}

.content hr {
  margin-top: 30px;
  width: 90%;
  height: 10px;
  background-color: rgba(211, 9, 9, 0.514);
  border-radius: 10px;
  border-color: rgba(199, 11, 11, 0.979);
}

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 15px;
  font-size: 20px;
  color: rgb(253, 254, 255);
}

}


button,
button::after {
  padding: 16px 20px;
  font-size: 18px;
  background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 1;
  box-shadow: 6px 0px 0px #00e6f6;
  outline: transparent;
  position: relative;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "Yendo no!";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #a4f600 3%, #11c07a 5%, #ff013c 5%);
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #f600a8;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

footer {
  width: 100%;
  background: #202020;
  color: #ffffff;

}

.contenedordepie {
  width: 100%;
  max-width: 1900px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.colum1 {
  max-width: 400px;

  h3 {
    font-size: 22px;
  }

  p {
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
  }
}


.colum2 {
  max-width: 400px;

  h3 {
    font-size: 22px;
  }
}

.fila {
  margin-top: 20px;
  display: flex;

  img {
    width: 36px;
    height: 36px;
  }

  label {
    margin-top: 10px;
    height: 20px;
    color: #C7C7C7;
  }


}


.colum3 {
  max-width: 400px;

  h3 {
    font-size: 22px;
  }
}


.fila1 {
  margin-top: 20px;
  display: flex;
  text-align: center;

  img {
    width: 45px;
    height: 45px;
  }

  label {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 150px;
  }
}


.container-footer {
  max-width: 1900px;
  background: #101010;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer {
  max-width: 1900px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20pxs;
}

.copyright {
  color: #C7C7C7;

  a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
  }
}

.information a {
  text-decoration: none;
  color: #FFFFFF;
}

/* REGISTRO */

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

main {
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
}

.contenedor__todo {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}

.caja__trasera {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 128, 255, 0.5);



  div {
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
  }


  .caja__trasera div p,
  .caja__trasera button {
    margin-top: 30px;
  }

  .caja__trasera div h3 {
    font-weight: 400;
    font-size: 26px;
  }

  .caja__trasera div p {
    font-size: 16px;
    font-weight: 300;
  }

  .caja__trasera button {
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
  }

  .caja__trasera button:hover {
    background: #fff;
    color: #46A2FD;
  }